@import url('https://fonts.googleapis.com/css?family=Roboto:500');
body {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header {
    height: 100px;
}

footer {
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #C5C5C5;
    border-top: 2px solid #AAA;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#liens {
    display: flex;
    justify-content: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    background-color: #424558;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}

.table {
    display: table;
    margin: 0 auto;
}

.menu-ind:hover {
    border-top: 5px solid #4c8;
    background-color: RGBa(64, 200, 130, 0.15);
}

.menu-exp:hover {
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}

.menu-con:hover {
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77, 38, 0.15);
}

nav li:hover a {
    padding: 15px 30px 20px 30px;
}

section {
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sec {
    margin: 0px 10%;
}

.left {
    float: left;
    width: 70%;
}

.right {
    float: right;
    width: 30%;
}

.sec::after {
    content: "";
    display: table;
    clear: both;
}

#presentation {
    border-top: 5px solid #4c8;
    background-color: RGBa(64, 200, 130, 0.15);
}

#realisations {
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}

.photo {
    width: 40px;
}

#first {
    background-image: url("img/projet1.png");
    background-size: auto auto;
    width: 10em;
    height: 10em;
    border-radius: 0.5em;
}

#hover {
    opacity: 0;
    background-color: whitesmoke;
    width: 10 em;
    height: 10em;
}

#hover:hover {
    opacity: 1;
}